body{
  margin: 0;
  padding: 0;
  background: #f2f4f5;
  color: #1E1E1F;
  font-family: 'Monserrat', Arial, Helvetica, sans-serif;
}

#root{
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}